.profileItem {
    padding: 12px 3px;

    &:hover {
        background-color: rgba(237, 235, 233, 0.6);
    }

    &.selected {
        background-color: rgba(237, 235, 233, 1);
    }

    &__selectIcon {
        margin: -3px 12px 0 12px;
        opacity: 0;

        &.selected {
            opacity: 1;
        }

        &__icon {
            font-size: 16;
            position: relative;
            top: 3px;
            color: rgb(0, 120, 212);
        }
    }
}