.dealerForm {
  padding: 52px 0px 12px 0px;

  &__inputBlock {
    margin-bottom: 12px;
    position: relative;

    &.noMargin {
      margin-bottom: 0px;
    }

    &__error {
      position: absolute;
      width: 100%;
      color: #a4373a;
      background: #efefef;
    }
  }

  input {
    height: 30px;
  }

  .formScope {
    max-width: 263px;
    border: 1px solid #eaeaea;
    padding: 12px;
    border-radius: 3px;
  }

  .formScopeHeader {
    font-size: 16px;
  }

  .saveButton {
    position: absolute;
  }

  // .ms-Dropdown {
  //   margin-right: 0 !important;
  // }
}