.dealerForm {
  padding: 52px 0px 12px 0px;

  &__inputBlock {
    margin-bottom: 12px;

    &.noMargin {
      margin-bottom: 0px;
    }

    &__error {
      position: absolute;
      color: #a4373a;
    }
  }

  input {
    height: 30px;
  }

  .formScope {
    border: 1px solid #eaeaea;
    padding: 12px;
    border-radius: 3px;
  }

  .formScopeHeader {
    font-size: 16px;
  }

  .saveButton {
    position: absolute;
  }
}