.dealerForm {
  padding: 12px 0px 12px 0px;

  input {
    height: 30px;
  }

  .formInput {
    margin-bottom: 12px;
  }

  .formScope {
    background-color: #efefef;
    padding: 12px;
    border-radius: 3px;
  }

  .formScopeHeader {
    color: #005A9E;
    font-weight: 700;
    font-size: 16px;
  }
}