.dealers {

  &__header {

    &__top {
      height: 52px;
      position: relative;

      &__title {
        color: #484848;
        font-size: 22px;
        font-weight: 600;
        padding: 9px 90px 0 6px;
      }

      &__controls {

        margin-top: 11px;

        .dealersDate {
          margin-right: 12px;
        }

        .dealerSearch {
          margin-right: 12px;
        }

        .dealerAdd {
          margin-top: -3px;
        }
      }
    }

    input {
      height: 30px;
    }
  }
}

.dealer__stores {
  position: relative;
  height: 70vh;
  overflow-y: scroll;
}

.dealer__title {
  color: #484848;
  padding: 9px 90px 0 6px;
  font-size: 1.3125rem;
  font-weight: 600;
  letter-spacing: -.02em;
}

.dealerPanelHeader {
  position: absolute;
  left: 24px;

  &__title {
    color: #484848;
    font-size: 22px;
    font-weight: 600;
  }

  &__save {
    margin-left: 38px !important;
  }
}

.dealer__store {
  position: relative;
  min-height: 54px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(237, 235, 233);
  border-left: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: rgb(237, 235, 233);
  }

  &.selected {
    border-left: 3px solid #0078d4;
    color: #0078d4;
    background-color: #f0f0f0;
  }

  &__name {
    font-size: 16px;
    font-weight: 600
  }

  &__address {
    font-size: 12px;
    color: rgb(161, 159, 157);
    margin-bottom: 10px;
  }

  &__counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #0078d4;
    font-size: 16px;
    font-weight: 600;
  }
}