.dealerForm {
  padding: 52px 0px 12px 0px;

  &__inputBlock {
    margin-bottom: 14px;

    &__error {
      position: absolute;
      color: #a4373a;
    }
  }

  input {
    height: 30px;
  }

  .formScope {
    background-color: #efefef;
    padding: 12px;
    border-radius: 3px;
  }

  .formScopeHeader {
    color: #005A9E;
    font-weight: 700;
    font-size: 16px;
  }

  .saveButton {
    position: absolute;
  }
}