.menu {
    display: flex;
    width: 230px;
    flex-direction: column;
    justify-content: flex-start;
    background: #eaeaea;
    transform: translateX(0);
    height: calc(100vh - 75px);
    text-align: left;
    padding: 5px 0 0 0;
    box-shadow: 1px 0px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: all .4s ease-in-out;

    &__list {
        &_sub {
            background-color: #dcdcdc;
        }
    }

    &__item {
        white-space: nowrap;

        &_with-sub-menu {
            background-color: #dcdcdc;
        }

        &:hover {
            background-color: #cfcfcf;
        }
    }

    &__link {
        display: block;
        padding: 10px 20px 10px 42px;
        position: relative;
        border-left: 3px solid transparent;

        &:hover {
            color: #358bd5;
        }

        &.active {
            border-left: 3px solid #358bd5;
            color: #358bd5;
            background-color: #cfcfcf;
        }

        &:before {
            content: '';
            position: absolute;
            width: 22px;
            height: 20px;
            top: 13px;
            left: 10px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &.dashboard:before {
            background-image: url('../../../assets/images/menu-icons/dashboard.svg');
        }

        &.order:before {
            background-image: url('../../../assets/images/menu-icons/order.svg');
        }

        &.customer:before {
            background-image: url('../../../assets/images/menu-icons/customer.svg');
        }

        &.dealers:before {
            background-image: url('../../../assets/images/menu-icons/dealers.svg');
        }

        &.stock:before {
            background-image: url('../../../assets/images/menu-icons/stock.svg');
        }

        &.documents:before {
            background-image: url('../../../assets/images/menu-icons/documents.svg');
        }

        &.activity:before {
            background-image: url('../../../assets/images/menu-icons/activity.svg');
        }

        &.product:before {
            background-image: url('../../../assets/images/menu-icons/product.svg');
        }

        &.settings:before {
            background-image: url('../../../assets/images/menu-icons/settings.svg');
        }

        &.reports:before {
            background-image: url('../../../assets/images/menu-icons/reports.svg');
        }

        &.styles:before {
            background-image: url('../../../assets/images/menu-icons/style.svg');
        }

        &.measurements:before {
            background-image: url('../../../assets/images/menu-icons/measurement.svg');
        }

        &.timeline:before {
            background-image: url('../../../assets/images/menu-icons/stopwatch.svg');
        }
    }

}