.content {
    position: relative;
    max-width: calc(100% - 234px);
    width: 100%;
    margin-top: 0px;
    background-color: #ffffff;
    box-shadow: 0px 0 11px 1px rgba(0, 0, 0, 0.09);
    border-radius: 6px;
    margin: 12px;
    transition: all 0.3s linear;
    height: calc(100vh - 100px);

    &__root {
        // border-bottom: 1px solid #dfdfdf;
    }

    &__header {

        padding: 12px;

        &__top {
            position: relative;

            &__title {
                color: #484848;
                font-size: 22px;
                font-weight: 600;

            }

            &__controls {

                .dealersDate {
                    margin-right: 12px;
                }

                .dealerSearch {
                    margin-right: 12px;
                }

                .dealerAdd {
                    margin-top: -3px;
                }
            }
        }

        input {
            height: 30px;
        }
    }

}

main.collapse {
    .menu {
        width: 46px;
    }

    .content {
        max-width: calc(100% - 210px);
    }
}

.management {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & .selected {
        position: relative;
        border: 1px solid #358bd5;
        border-radius: 3px;
        background-color: rgba(53, 139, 213, 0.1);

        &:before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            top: 10px;
            right: 10px;
            background-image: url('../../assets/images/ok_icon.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    button {
        transition: all 0.3s ease;
        background-size: cover;

        &:hover {
            border: none;
        }
    }

    &__btn-add {
        background: url('../../assets/images/dealers/Stores.svg') no-repeat;

        &:hover {
            background: url('../../assets/images/dealers/Stores.svg') no-repeat;
        }
    }

    &__btn-detail {
        background: url('../../assets/images/dealers/Details.svg') no-repeat;

        &:hover {
            background: url('../../assets/images/dealers/Details.svg') no-repeat;
        }
    }

    &__btn-address {
        background: url('../../assets/images/dealers/Address.svg') no-repeat;

        &:hover {
            background: url('../../assets/images/dealers/Address.svg') no-repeat;
        }
    }

    &__btn-customer {
        background: url('../../assets/images/dealers/Customer.svg') no-repeat;

        &:hover {
            background: url('../../assets/images/dealers/Customer.svg') no-repeat;
        }
    }

    &__btn-measurements {
        background: url('../../assets/images/menu-icons/ruler.svg') no-repeat;

        &:hover {
            background: url('../../assets/images/menu-icons/ruler_hover.svg') no-repeat;
        }
    }

    &__btn-timeline {
        background: url('../../assets/images/dealers/stopwatch.svg') no-repeat;

        &:hover {
            background: url('../../assets/images/dealers/stopwatch_hover.svg') no-repeat;
        }
    }
}

.list__header {
    // div>span {
    //     padding-left: 21px;
    // }

    span>span {
        font-weight: 400;
        color: #323130;
        font-size: 14px;
    }
}