.dealerFormManage {
    padding: 0 0px 12px 0px;

    &__inputBlock {
        margin-bottom: 12px;
        position: relative;

        &.noMargin {
            margin-bottom: 0px;
        }

        &__error {
            position: absolute;
            width: 100%;
            color: #a4373a;
            background: #efefef;
        }
    }

    input {
        height: 30px;
    }

    .formScopeHeader {
        font-size: 16px;
        padding-right: 15px;
    }

    .saveButton {
        position: absolute;
    }
}