@import '../../assets/styles/forms/form-group';
@import '../../assets/styles/forms/error-message';
@import '../../assets/styles/forms/btn';
@import '../../assets/styles/variables';

.account {
  &__wrap {
    width: 100%;
  }

  &__form {
    position: relative;
    width: 500px;
    margin: 0 15px;
    padding: 40px 80px 50px 80px;
    text-align: center;
    background-color: $color_white;
    transition: all 0.3s ease;
    border-radius: 2px;
    box-shadow: -5px 0 11px 1px rgba(0, 0, 0, 0.09);

    @media screen and (max-width: 590px) {
      padding: 0 20px;
    }
  }

  &__logo {
    max-width: 390px;
    margin: 0 auto;
    padding-bottom: 15px;
    height: 100px;
    background-image: url('../../assets/images/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__form-title {
    padding: 0 0 70px;
    font-size: 18px;
    line-height: 24px;
    color: $color_black;

    @media screen and (max-width: 1660px) {
      padding: 0 0 45px;
    }

    @media screen and (max-width: 425px) {
      padding-bottom: 30px;
      font-size: 18px;
    }

    letter-spacing: 0.7px;
  }

  &__forgot-psw {
    margin-top: 30px;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    transition: 0.3s color ease;

    &:hover {
      color: $color_green;
    }
  }
}