.productSettingsLsit {
    margin-left: 18px;

    .ms-GroupSpacer {
        display: none !important;
    }

    .ms-GroupHeader {

        .ms-GroupHeader-title {
            font-weight: 400;
            padding-left: 6px;
            font-size: 16px;
            font-family: "Segoe UI";
        }
    }

}