.customers {

    &__header {
        padding: 12px;

        &__top {
            height: 52px;
            position: relative;

            &__title {
                color: #484848;
                font-size: 22px;
                font-weight: 600;
                padding: 9px 90px 0 6px;
            }

            &__controls {

                margin-top: 11px;

                .customersDate {
                    margin-right: 12px;
                }

                .customersSearch {
                    margin-right: 12px;
                }

                .customersAdd {
                    margin-top: -3px;
                }
            }
        }

        input {
            height: 30px;
        }
    }
}

.customers__title {
    color: #484848;
    padding: 9px 90px 0 6px;
    font-size: 1.3125rem;
    font-weight: 600;
    letter-spacing: -.02em;
}

.customersPanelHeader {
    position: absolute;
    left: 24px;

    &__title {
        color: #484848;
        font-size: 22px;
        font-weight: 600;
    }

    &__save {
        margin-left: 38px !important;
    }
}

.customers__store {
    min-height: 54px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(237, 235, 233);
    border-left: 2px solid transparent;
    cursor: pointer;

    &.selected {
        border-left: 3px solid #0078d4;
        color: #0078d4;
        background-color: #deecf9;
    }

    &__name {
        font-size: 16px;
        font-weight: 600
    }

    &__address {
        font-size: 12px;
        color: rgb(161, 159, 157);
        margin-bottom: 10px;
    }
}

.customersForm {
    &__inputBlock {
        margin-left: 12px;
    }
}