.productMeasurementChartGrid {
  position: relative;
  border-top: 1px solid #dfdfdf;
  padding-top: 16px;

  .ms-DetailsHeader {
    padding-top: 0;
  }

  .HOVER {
    display: block;
  }

  .NOT_HOVER {
    display: none;
  }
}