.valueItem {
    position: relative;
    padding: 6px 9px;
    border: 1px solid rgb(200, 200, 200);
    border-left: 3px solid rgb(200, 200, 200);
    width: 48%;

    &.isDirty {
        border-left: 3px solid #0078d4;
    }

    &__editNameInput {
        border: 1px solid rgb(200, 200, 200);
    }

    &__sizeMeasurement {
        min-width: 160px;
    }

    &__fittingMeasurement {
        min-width: 160px;
    }

    &.fittingValueItem {
        width: auto;
    }
}