.sizeForm {
    &__definitionItem {
        position: relative;
        padding: 6px 3px 6px 9px;
        border: 1px solid rgb(200, 200, 200);
        border-left: 3px solid #0078d4;
        // height: 42px;

        &__editNameInput {
            border: 1px solid rgb(200, 200, 200);
        }
    }
}