.priceInput {
    position: relative;

    &.dissabled {
        opacity: 0.6;
        pointer-events: none;
    }

    &__priceWarning {
        position: absolute;
        top: 7px;
        left: 39px;
        z-index: 1;
    }

    &__unitPriceDescription {
        margin-top: 20px;
        padding: 3px 6px;
        background-color: rgb(240, 240, 240);
    }
}