.dealer__management {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    button {
        transition: all 0.3s ease;
        background-size: cover;
        background-position: center;


        &:hover {
            border: none;
        }
    }

    &__btn-add {
        background: url('../../../assets/images/dealers/Stores.svg') no-repeat;

        &:hover {
            background: url('../../../assets/images/dealers/Stores.svg') no-repeat;
        }
    }

    &__btn-detail {
        background: url('../../../assets/images/dealers/Details.svg') no-repeat;

        &:hover {
            background: url('../../../assets/images/dealers/Details.svg') no-repeat;
        }
    }

    &__btn-address {
        background: url('../../../assets/images/dealers/Address.svg') no-repeat;

        &:hover {
            background: url('../../../assets/images/dealers/Address.svg') no-repeat;
        }
    }

    &__btn-customer {
        background: url('../../../assets/images/dealers/Customer.svg') no-repeat;

        &:hover {
            background: url('../../../assets/images/dealers/Customer.svg') no-repeat;
        }
    }
}