.dealer__management {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & .selected {
        position: relative;
        border: 1px solid #358bd5;
        border-radius: 3px;
        background-color: rgba(53, 139, 213, 0.1);

        &:before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            top: 10px;
            right: 10px;
            background-image: url('../../../assets/images/ok_icon.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    button {
        transition: all 0.3s ease;
        background-size: cover;

        &:hover {
            border: none;
        }
    }

    &__btn-add {
        background: url('../../../assets/images/dealers/Stores.svg') no-repeat;

        &:hover {
            background: url('../../../assets/images/dealers/Stores.svg') no-repeat;
        }
    }

    &__btn-detail {
        background: url('../../../assets/images/dealers/Details.svg') no-repeat;

        &:hover {
            background: url('../../../assets/images/dealers/Details.svg') no-repeat;
        }
    }

    &__btn-address {
        background: url('../../../assets/images/dealers/Address.svg') no-repeat;

        &:hover {
            background: url('../../../assets/images/dealers/Address.svg') no-repeat;
        }
    }

    &__btn-customer {
        background: url('../../../assets/images/dealers/Customer.svg') no-repeat;

        &:hover {
            background: url('../../../assets/images/dealers/Customer.svg') no-repeat;
        }
    }
}