.header {
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);

    &_right {
        float: right;
    }

    &__logo {
        width: 65px;
        height: 40px;
        margin: 5px 0 0 35px;
        float: left;
        background-image: url('../../../assets/images/logo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}