$color_body: #fafafa;
$color_error: #f00;
$color_checked: #fc0;
$color_yellow: #ffcf53;
$color_selective-yellow: #ffb800;
$color_green: #8cbd18;
$color_form: #ebebeb;
$color_grey: #464646;
$color_grey-light: #808080;
$color_border: #e1dfdd;
$color_hover: #0c0;
$color_placeholder: #999;
$color_white: #fff;
$color_black: #000;
$color_signal_black: #333;
$color_silver: #c0c0c0;
$color_breadcrumb_text: #808080;
$color_smoky_white: #f4f4f4;
$color_smoky_white_1: #f3f1f1;
$color_smoky_white_2: #faf9f8;
$color_dull_pink: #ffdcd0;
$color_light_telegray: #cfcdcd;

$color_black-alfa: rgba(0, 0, 0, 0.15);
$color_grey-alfa: rgba(229, 229, 229, 0.5);
$color_green-alfa: rgba(0, 255, 0, 0.4);
$color_hover-alpha: rgba(0, 51, 0, 0.17);
$color_error-alpha: rgba(255, 0, 0, 0.1);
$color_hover-alpha: rgba(0, 51, 0, 0.17);