@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=cyrillic');
@import './_reset.scss';
@import '../../assets/styles/variables';
@import '../../assets/styles/forms/form';

@font-face {
  font-family: 'Segoe UI';
  font-weight: 700;
  src: url('../fonts/bold.ttf');
}

@font-face {
  font-family: 'Segoe UI';
  font-weight: 400;
  src: url('../fonts/regular.ttf');
}

@font-face {
  font-family: 'Segoe UI';
  font-weight: 600;
  src: url('../fonts/semi_bold.ttf');
}

@font-face {
  font-family: 'Segoe UI';
  font-weight: 300;
  src: url('../fonts/light.ttf');
}

@font-face {
  font-family: 'Segoe UI';
  font-weight: 200;
  src: url('../fonts/semi_light.ttf');
}

body {
  font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI',
    -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: $color_body;
  color: $color_grey;
}

* {
  box-sizing: border-box;
}



main {
  display: flex;
  justify-content: space-between;
}

input,
textarea {
  padding: 5px;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: $color_placeholder;
  border: 1px solid $color_border;
  border-radius: 2px;
}

textarea {
  resize: none;
  height: 96px;
}

button {
  padding: 5px;
  height: 70px;
  font-size: 16px;
  color: $color_placeholder;
  border: 1px solid $color_border;
  box-sizing: border-box;
  outline: none;
}

hr {
  margin: 40px 0 30px;
  background-color: $color_border;
  height: 1px;
  border: 0;

  @media screen and (max-width: 1660px) {
    margin: 30px 0 20px;
  }
}

a {
  font-size: 16px;
  color: $color_grey;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.copyright {
  padding-top: 60px;
  padding-bottom: 50px;
  font-size: 13px;
  color: $color_grey-light;

  @media screen and (max-width: 1660px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: $color_grey;
  background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  border-width: 1px 1px 1px 2px;
  border-color: $color_border;
  background-color: #777;
}

::-webkit-scrollbar-track {
  border-width: 0;
}

::-webkit-scrollbar-track:hover {
  border-left: solid 1px #aaa;
  background-color: $color_border;
}

.appear-done {
  animation: slide-in 0.8s forwards;
  -webkit-animation: slide-in 0.8s forwards;
}

.appear {
  animation: slide-out 0.8s forwards;
  -webkit-animation: slide-out 0.8s forwards;
}

.appear-active {
  animation: slide-out 0.8s forwards;
  -webkit-animation: slide-out 0.8s forwards;
}

@keyframes slide-in {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in {
  100% {
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-out {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.ms-Panel-closeButton {
  position: absolute;
  margin: 0;
  top: 18px;
  right: 14px;
}

.short-account-info+.ms-Button-menuIcon {
  display: none;
}

.short-account-info+.ms-Button-menuIcon.is-expanded {
  display: none;
}