.commonManagementActionBar {
    &__controls {

        margin-top: 11px;

        .dealersDate {
            margin-right: 12px;
        }

        .dealerSearch {
            margin-right: 12px;
        }

        .dealerAdd {
            margin-top: -3px;
        }
    }
}