.panelTitle {
    &__panelHeader {
        margin-bottom: 40px;
        font-weight: 400;
        flex-direction: column;
    }

    &__title {
        color: #484848;
        font-size: 22px;
        font-weight: 400;
    }

    &__description {
        color: lighten($color: #484848, $amount: 20%);
        margin-left: 0 !important;
    }

}